@import url('http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic&v1');


body {
    font-family: 'PT Sans', 'museo sans', calibri, 'helvetica neue', helvetica, arial, sans-serif !important;
}

.a-A {
width: 100%;
}

.a-p-M-T-gi-xc  {
width: 72%;
}

.a-f-n-A  {
width: auto;
}

.a-f-p  {
width: auto;
}

#contentPane.a-p-M-T-gi-xc [id^=update-],
.a-f-i.a-f-oi-Ai {
float: left;
clear: none;
border-top: 1px solid #999;
width: 46%;
}
#contentPane.a-p-M-T-gi-xc [id^=update-]:nth-child(n+1) {
margin-right:2px;
}

#contentPane.a-p-M-T-gi-xc [id^=update-]:nth-child(2n+1) {
clear:left;
}

#contentPane.a-p-M-T-gi-xc [id^=update-] img,
#contentPane.a-p-M-T-gi-xc [id^=update-] iframe,
#contentPane.a-p-M-T-gi-xc [id^=update-] object,
#contentPane.a-p-M-T-gi-xc [id^=update-] embed,
#contentPane.a-p-M-T-gi-xc [id^=update-] audio,
#contentPane.a-p-M-T-gi-xc [id^=update-] video {
max-width: 100%;
}

/* more button */
#contentPane.a-p-M-T-gi-xc .a-f-zd-gb-A {
clear: both;
}


body {
counter-reset: update;
}


#contentPane.a-p-M-T-gi-xc [id^=update-] {
counter-increment: update;
}
#contentPane.a-p-M-T-gi-xc [id^=update-]:before {
content: counter(update);
position: absolute; top: 13px; left: 2px;
font-family: 'american typewriter',georgia;
font-size: 1em;
color: rgba(0,0,0,0.4);
pointer-events: none;
-webkit-transition: all 1s;
-moz-transition: all 1s;
transition: all 1s;

-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0);
-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0);
-o-box-shadow: 0px 0px 10px rgba(0,0,0,0);
box-shadow: 0px 0px 10px rgba(0,0,0,0);





}

#contentPane.a-p-M-T-gi-xc [id^=update-]:hover {
-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
-o-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
#contentPane.a-p-M-T-gi-xc [id^=update-]:hover:before {
color: #3C6DCE;
}


@media (min-width: 1451px) {
#contentPane.a-p-M-T-gi-xc [id^=update-],
.a-f-i.a-f-oi-Ai {
width:32%;
}

#contentPane.a-p-M-T-gi-xc [id^=update-]:nth-child(2n+1) { 
clear:none;
}

#contentPane.a-p-M-T-gi-xc [id^=update-]:nth-child(3n+1) {
clear:left;
}

}



@media (min-width: 1300px) and (max-width:1450px) {
#contentPane.a-p-M-T-gi-xc [id^=update-],
.a-f-i.a-f-oi-Ai {
width:47%;
}

#contentPane.a-p-M-T-gi-xc .a-p-M-T-gi-xc  {
width: 62%;
}

}

@media (min-width: 701px) and (max-width:1299px) {
#contentPane.a-p-M-T-gi-xc [id^=update-],
.a-f-i.a-f-oi-Ai {
width:47%;
}

#contentPane.a-p-M-T-gi-xc .a-p-M-T-gi-xc  {
width: 60%;
}
}


@media (max-width:990px) {
#contentPane.a-p-M-T-gi-xc [id^=update-],
.a-f-i.a-f-oi-Ai {
width:auto;
max-width: 100%;
}

#contentPane.a-p-M-T-gi-xc .a-p-M-T-gi-xc  {
width: 55%;
}

}
